body
{
	margin:0;
	padding:0;
	font-family: 'IBM Plex Sans', sans-serif;
	background:#f2f2f2;
	
	
}

.hre
{
	height:10px;
	background-color:white;
	margin-top:25px;
	margin-bottom:25px;
	border-radius:3px;
}

.dropdown-menu a
{
	text-decoration:none;
}

.container
{
	border-radius:3px;
	background:#f8f8f8;
	color:#000000;	
	border:1px solid #e6e6e6;
}

.row-header
{
	background:#fff;
	padding:20px;	
	border-bottom:1px solid #e6e6e6;
	margin-bottom:15px;
}

.header-title
{
	font-size:20px;
	padding-left:12px;
}

.header-subtitle
{
	font-size:12px;
	padding-left:12px;
	margin-top:0;
}

.header-subtitle button
{
	font-size:11px !important;
	padding:0 !important;
	border:0;
	background-color:rgba(0,0,0,0);
	
}

.bg-header
{
	background-color: #fff;
	border-bottom:1px solid #e6e6e6;
}

.hd-blue
{
	background-color:#39addb !important;
}

.hd-orange
{
	background-color:#f0b64a !important;
}

.hd-purple
{
	background-color:#ab4ede !important;
}

.hd-red
{
	background-color:#e84625 !important;
}

.hd-green
{
	background-color:#c2d979 !important;
}

.hd-yellow
{
	background-color:#d1c44f !important;
}

.bg-grey
{
	background-color:#c3c3c3 !important;
}

.device-img
{
	width:70%;
	margin-left:15%;
}

#color_input
{
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}

hr
{
	background-color:#fff;
}

.data-once
{
	height:45px;
	clear:both;
	margin-bottom:15px;
}

a
{
	text-decoration:none;
	color:black;
}

.data-once
{
	height:45px;
	clear:both;
	margin-bottom:15px;
}

.data-once-title
{
	font-weight:bold;
	color:grey !important;
	font-size:12px;
}

.data-once-content
{
	
	font-size:16px;
}


.fixed-height-chart
{
  height: 300px;
}
